:root{
    --color-black: #0a101e;  
    --color-yellow:#fac345;
    --color-white: #f7fdfe;
    --color-grey: #101624;

    --color-bg-primary: var(--color-black);
    --color-bg-yellow: var(--color-yellow);

    --color-text-primary: var(--color-white);
    --color-text-yellow: var(--color-yellow)
    --color-text-black: var(--color-black)
}

body{
    margin: 0;
}